$green : #0f0
$box : 115px
$red : #f00
$circle : $box/2


.result
	text-align: center
	font-size: 40px

.box>.row>.col
	width: $box
	height: $box
	position: relative

.bg-circle
	position: absolute
	border-radius: 50%
	border: 2px solid lightgreen
	background: url("../img/ring.svg") no-repeat
	width: $circle
	height: $circle
	transition: transform ease-in-out .6s , opacity linear .5s
	opacity: 1

.noDirect
	opacity: 0

.end
	background: url("../img/ring2.svg") no-repeat

.center
	left: $box/2 - $circle/2

.right
	right: 0

.row2 .bg-circle
	top: 50%;
	margin-top: -$circle/2;

.row3 .bg-circle
	bottom: 0
