<ion-view title="文本密码" class="bg-dark">
	<div class="list">
		<h3 class="item item-divider">
			一、选择密码的长度6~32
		</h3>
		<div class="item range range-dark">
			<input type="range" value="8" min="6" max="32"
			 ng-model="passWordLength"
			 ng-change="">
			<label>{{passWordLength}}</label>
		</div>

		<h3 class="item item-divider">
			二、选择随机密码的类型
		</h3>

		<ul class="item list">

			<li class="item item-toggle">
				数字
				<label class="toggle toggle-assertive">
					<input type="checkbox" checked ng-model="hasNum">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</li>

			<li class="item item-toggle">
				小写字母
				<label class="toggle toggle-energized">
					<input type="checkbox" checked ng-model="hasen">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</li>

			<li class="item item-toggle">
				大写字母
				<label class="toggle toggle-energized">
					<input type="checkbox" ng-model="hasEN">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</li>

			<li class="item item-toggle">
				特殊符号
				<label class="toggle toggle-balanced">
					<input type="checkbox" ng-model="has_">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</li>

			<li class="item item-toggle">
				希腊字母
				<label class="toggle toggle-calm">
					<input type="checkbox" ng-model="hasAlpha">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</li>

			<li class="item item-toggle">
				简体汉字
				<label class="toggle toggle-positive">
					<input type="checkbox" ng-model="haszhCN">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</li>

			<li class="item item-toggle">
				繁体汉字
				<label class="toggle toggle-positive">
					<input type="checkbox" ng-model="haszhTN">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</li>

			<li class="item item-toggle">
				日文汉字
				<label class="toggle toggle-royal">
					<input type="checkbox" ng-model="hasjp">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</li>

			<li class="item item-toggle">
				韩文字符
				<label class="toggle toggle-dark">
					<input type="checkbox" ng-model="haskro">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</li>
		</ul>

		<h3 class="item item-divider">
			三、生成密码
		</h3>
		<div class="item">
			<input type="text" ng-model="result" id="result" size="36">
			<button id="get" ng-click="create()">生成密码</button>
			<button id="copy" ng-click="copy()">复制密码</button>
		</div>
	</div>
</ion-view>