<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<title>密码生成器</title>
	<meta content="密码,生成,器,密码生成器" name="Keywords">
	<meta content="密码生成器" name="Description">

	<link href="./css/ionic.min.css" rel="stylesheet">
	<link href="./css/style.css" rel="stylesheet">
</head>
<body ng-app="main" ng-controller="base">
<ion-nav-bar class="nav-title-slide-ios7 bar-positive"></ion-nav-bar>

<ion-nav-view animation="slide-left-right"></ion-nav-view>

<ion-tabs class="tabs-icon-top tabs-positive">

	<ion-tab title="文字密码" icon="ion-home" ui-sref="text">
		<ion-nav-view name="text-tab"></ion-nav-view>
	</ion-tab>

	<ion-tab title="图案密码" icon="ion-ios7-information" ui-sref="patten">
		<ion-nav-view name="patten-tab"></ion-nav-view>
	</ion-tab>

	<ion-tab title="密码强度" icon="ion-ios7-world" ui-sref="strong">
		<ion-nav-view name="strong-tab"></ion-nav-view>
	</ion-tab>

</ion-tabs>

<script src="./js/ionic.bundle.min.js"></script>
<script src="./js/app.js"></script>
<script src="./js/clipboard.min.js"></script>


<script id="text.html" type="text/ng-template">
<ion-view title="文本密码" class="bg-dark">
	<h3>一、选择密码的长度6~32</h3>

	<div class="range range-dark">
		<input type="range" value="8" min="6" max="32"
		 ng-model="passWordLength"
		 ng-change="" />
		<label>{{passWordLength}}</label>
	</div>

	<h3>二、选择随机密码的类型</h3>

	<ul class="item list">
		<ion-toggle ng-model="airplaneMode" toggle-class="toggle-calm">数字</ion-toggle>
		<ion-toggle ng-model="airplaneMode" toggle-class="toggle-calm">小写字母</ion-toggle>
		<ion-toggle ng-model="airplaneMode" toggle-class="toggle-calm">大写字母</ion-toggle>
		<ion-toggle ng-model="airplaneMode" toggle-class="toggle-calm">特殊符号</ion-toggle>
		<ion-toggle ng-model="airplaneMode" toggle-class="toggle-calm">希腊字母</ion-toggle>
		<ion-toggle ng-model="airplaneMode" toggle-class="toggle-calm">简体汉字</ion-toggle>
		<ion-toggle ng-model="airplaneMode" toggle-class="toggle-calm">繁体汉字</ion-toggle>
		<ion-toggle ng-model="airplaneMode" toggle-class="toggle-calm">日文字符</ion-toggle>
		<ion-toggle ng-model="airplaneMode" toggle-class="toggle-calm">韩文字符</ion-toggle>
	</ul>

	<h3>三、生成密码</h3>

	<div class="item">
		<input type="text" ng-model="result" id="result" size="36" />
		<button id="get" ng-click="create()">生成密码</button>
		<button id="copy" ng-click="copy()">复制密码</button>
	</div>
</ion-view>
</script>

<script id="patten.html" type="text/ng-template">
<ion-view title="图案密码" class="bg-dark">

</ion-view>
</script>

<script id="strong.html" type="text/ng-template">
<ion-view title="密码强度检测" class="bg-dark">

</ion-view>
</script>


</body>
</html>