<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<title>密码生成器</title>
	<meta content="密码,生成,器,密码生成器" name="Keywords">
	<meta content="密码生成器" name="Description">

	<link href="./css/ionic.min.css" rel="stylesheet">
	<link href="./css/style.css" rel="stylesheet">
</head>
<body ng-app="main" ng-controller="base" ng-repeat="(key, value) in dataset">
<ion-nav-bar class="nav-title-slide-ios7 bar-positive"></ion-nav-bar>

<ion-nav-view animation="slide-left-right"></ion-nav-view>

<ion-tabs class="tabs-icon-top tabs-positive">

	<ion-tab title="文字密码" icon="ion-home" ui-sref="text">
		<ion-nav-view name="text-tab"></ion-nav-view>
	</ion-tab>

	<ion-tab title="图案密码" icon="ion-ios7-information" ui-sref="patten">
		<ion-nav-view name="patten-tab"></ion-nav-view>
	</ion-tab>

	<ion-tab title="密码强度" icon="ion-ios7-world" ui-sref="strong">
		<ion-nav-view name="strong-tab"></ion-nav-view>
	</ion-tab>

</ion-tabs>

<script src="./js/ionic.bundle.min.js"></script>
<script src="./js/app.js"></script>
<script src="./js/clipboard.min.js"></script>

<script id="text.html" type="text/ng-template">
<ion-view title="文本密码" class="bg-dark">
<ion-content>

	<h3>一、选择密码的长度6~32</h3>
	<div class="range range-dark">
		<input type="range" min="6" max="32" ng-model="passWordLength"/>
		<label>{{passWordLength}}</label>
	</div>

	<h3>二、选择随机密码的类型</h3>
	<div class="row">
		<div class="col">
			<ion-toggle ng-repeat="type in types" toggle-class="toggle-calm"
			 ng-model="type.checked" ng-change="getPassWord()">
			 	{{type.name}}
			</ion-toggle>
		</div>
		<div class="col">
		</div>
	</div>

	<h3>三、生成密码</h3>
	<label class="item item-input">
		<input type="text" ng-model="result"/>
		<i class="icon ion-search" ng-click="copy()"></i>
	</label>
	<button class="button button-calm" ng-click="getPassWord()">
		 生成密码
	</button>

</ion-content>
</ion-view>
</script>

<script id="patten.html" type="text/ng-template">
<ion-view title="图案密码" class="bg-dark">
<ion-content>

</ion-content>
</ion-view>
</script>

<script id="strong.html" type="text/ng-template">
<ion-view title="密码强度检测" class="bg-dark">
<ion-content>

</ion-content>
</ion-view>
</script>

</body>
</html>